<main>
  <div *ngIf="!(_afAuth.authState | async)">
    <h1>Login</h1>

    <button mat-raised-button googleSignin>
      <img src="assets/img/google-logo.svg" alt="google_logo" />
      Login with Google
    </button>

    <h5>OR</h5>

    <app-email-login></app-email-login>
  </div>

  <div *ngIf="_afAuth.authState | async as user">
    <button mat-stroked-button (click)="_afAuth.signOut()" class="logout">
      Logout
    </button>
    <p>
      Login as <strong>{{ user?.email }}</strong>
    </p>
  </div>
</main>
